/* font-family: 'Permanent Marker', cursive;
font-family: 'Freckle Face', cursive;
font-family: 'Parisienne', cursive; */
/* font-family: 'Archivo Black', sans-serif; */
/* font-family: 'Bangers', cursive; */

.custom {
  cursor:url("img/cursor.ico"), auto;
}


h1 {
text-align: center;
font-size: 4vw;
}

#menu {
  
  box-sizing: border-box;
  
}
ul {
   list-style-type: none;
   overflow: hidden;
  }

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {

  background-color:black;
}

/* /location grid/ */
.container{
  display: grid;
  grid-template-columns: auto auto auto ;
  padding:10px ;
  column-gap: 50px;
  margin: 20px;
}


.item {
  text-align: center;
  height:250px;
  width: 250px;
  box-shadow: 4px 7px 65px 17px black;
  }

.item:hover{
transform: scale(1.5);

}

* {
    font-family: 'Archivo Black',cursive;
  }
  
  body {
    background: #ccc;
  }
  
  table {
      border:1px solid black;
      font-family: 'Bangers', sans-serif;
  }
  
  td {
      padding: 10px;
      border-radius: 10px;
    border: 1px solid black;
    background: white;
  }
  
  th {
      background-color: navy;
      color: white;
  }